{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div>
    <p>this is the dashboard page</p>

    <div>
        <canvas id="bar-chart-grouped" width="800" height="450"></canvas>
    </div>

    <div>
        <canvas id="line-chart" width="800" height="450"></canvas>
    </div>

</div>

<script>
    new Chart(document.getElementById("bar-chart-grouped"), {
        type: 'bar',
        data: {
            labels: {{ product_names | safe }},
            datasets: [
                {
                    label: "Sales",
                    backgroundColor: "#3e95cd",
                    data: {{ product_sales | safe }} 
                }, {
                    label: "Europe",
                    backgroundColor: "#8e5ea2",
                    data: {{ product_profit | safe }} 
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Sales & Profit per product (Ksh)'
            }
        }
    });



    // line chart
    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: {{ dates | safe }},
            datasets: [{
                data: {{ daily_sales | safe }},
                label: "Sales",
                borderColor: "#3e95cd",
                fill: false
            }, {
                data: {{ daily_profit | safe }},
                label: "Profit",
                borderColor: "#8e5ea2",
                fill: false
            }, 
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Sales & profit per day (Ksh)'
            }
        }
    });
</script>
{% endblock %}