{% extends 'base.html' %}
{% block title %} Register {% endblock %}
{% block content %}

<h3 style="text-align: center; margin-top: 5px;">Welcome to MY DUKA</h3>
<p style="text-align: center;">Register your Duka Account</p>
<div class="main">
    <div class="tab-pane fade show active" id="register">
        <form class="auth-form">
            <div class="inputs">
                <label>
                    Full Name
                </label>
                <input type="text" placeholder="Enter your full name" required style="border-radius: 30px;">

                <label>
                    Phone Number
                </label>
                <input type="tel" placeholder="+254 7XX XXX XXX" required style="border-radius: 30px;">

                <label>
                    Email Address
                </label>
                <input type="email" placeholder="Enter your email" required style="border-radius: 30px;">

                <label>
                    Password
                </label>
                <input type="password" placeholder="Create a password" required style="border-radius: 30px;">
            </div>

                <button type="submit" class="auth-submit-btn">
                    Create Account
                </button>

            <p class="auth-footer-text">
                Already have an account?
                <a href="/login" onclick="showLogin()">
                    Login
                </a>
            </p>
        </form>
    </div>
</div>
{% endblock %}