{% extends 'base.html' %}
{% block title %} Register {% endblock %}
{% block content %}

<h3 style="text-align: center; margin-top: 5px;">Welcome to MY DUKA</h3>
<p style="text-align: center;">Register your Duka Account</p>
<div class="main">
    <div class="tab-pane fade show active" id="register">
        <form class="auth-form" action="/register" method="post">
            <div class="inputs">
                <label>Full Name</label>
                <input type="text" name="full_name" placeholder="Enter your full name" required style="border-radius: 30px;">

                <label>Phone Number</label>
                <input type="tel" name="phone" placeholder="+254 7XX XXX XXX" required style="border-radius: 30px;">

                <label>Email Address</label>
                <input type="email" name="email" placeholder="Enter your email" required style="border-radius: 30px;">

                <label>Password</label>
                <input type="password" name="password" placeholder="Create a password" required style="border-radius: 30px;">
            </div>

                <button type="submit" class="auth-submit-btn">
                    Create User
                </button>

            <p class="auth-footer-text">
                Already have an account?
                <a href="/login" onclick="showLogin()">
                    Login
                </a>
            </p>
        </form>
    </div>
</div>
{% endblock %}