{% extends 'base.html' %}
{% block title %} Stock {% endblock %}
{% block content %}
<div>
    <h4>This is the stock page</h4>


    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Stock
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Adding a stock</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/add_stock">
                            <div class="mb-3">
                                <select class="form-select" aria-label="Default select example" name="pid">
                                    <option selected>Select a Product</option>
                                    {% for product in products %}
                                    <option value="{{ product[0] }}"> {{ product[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Stock quantity</label>
                                <input type="number" name="s_quantity" class="form-control" id="exampleInputPassword1">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>

        <table class="table table-stripped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Stock Id</th>
                    <th>PID</th>
                    <th>Stock quantity</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stock %}
                <tr>
                    <td>{{ stock[0] }}</td>
                    <td>{{ stock[1] }}</td>
                    <td>{{ stock[2] }}</td>
                    <td>{{ stock[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}